header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    text-align: center;
}

.interfaz {
    background-color: white ;
}

body {
    background-image: url(Fotos/sonicdx.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
