body {
    background-image: url(Fotos/Green_hill2.jpg)
}

.interfaz{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.color-shadow {
    color: black;
    background-color: darkgray;
    opacity: 1;
}

header {
    background-color: transparent;
    padding: 20px;
    text-align: center;
}

header > nav {
    background-color: transparent;
}